@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@300&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/*

NAVIGATION

*/

.nav__container {
    background-image:
        linear-gradient(rgba(60, 0, 60, 0.85)),
        url("https://w7.pngwing.com/pngs/130/1021/png-transparent-movie-logo-movie-logo-film-tape-cinema.png");
    background-size: 52%;
    background-position: top;
    position: relative;
    max-width: 100%;
    height: 44vh;
}

.nav__row {
    display: flex;
    justify-content: space-between;
    padding: 24px 128px;
}

.cinema__logo {
    height: 90px;
    width: 160px;
    margin-left: 25%;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    margin-right: 24px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}

.nav__link:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid;
    background-color: #fff;
    opacity: 0;
}

.nav__link:hover:after {
    opacity: 1;
    transition: all 500ms ease;
}

.nav__link--primary {
    color: rgb(52, 0, 60);
    background-color: #fff;
    padding: 16px 28px;
    border-radius: 28px;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.nav__link--primary:after {
    display: none;
}

.nav__link--primary:hover {
    text-decoration: none;
    background-color: rgb(78, 0, 208);
    color: #fff;
    transition: all 300ms ease;
}

h1 {
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    font-size: 45px;
    margin-bottom: 24px;
    color: #fff;
}


/*

SEARCH

*/


form[role="search"] {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    position: relative;
    padding: 16px;
    border: none;
    border-radius: 32px;
    font-size: 20px;
    width: 600px;
}

#search__submit {
    position: absolute;
    padding: 6px;
    margin-left: 520px;
    border: none;
    background: none;
}

.fa-magnifying-glass {
    font-size: 28px;
    cursor: pointer;
    color: rgb(73, 0, 84);
}

.fa-magnifying-glass:hover {
    color: rgb(245, 69, 69);
    transition: all 300ms ease;
}



/*

SEARCH RESULTS

*/

.results__text {
    color: rgb(225, 255, 255);
    font-size: 28px;
    line-height: 1.25;
    margin-left: 40px;
}

.row__main {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.searchName {
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
}

#movieSort {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding: 4px 0;
    background-color: rgb(163, 228, 245);
    color: black;
    width: 144px;
    border-radius: 16px;
    margin-right: 40px;
}

/*

MOVIES

*/

.row__main,
.movies,
.movies__loading {
    background-color: rgb(125, 8, 8);
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 25vh;
}

.movie {
    padding: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 36px;
    width: 100%;
    max-width: calc(100%/4);
    margin: 24px;
    background-color:rgb(49, 185, 219);
    border-radius: 24px;
}

.movie:hover {
    transform: scale(1.05);
    transition: all 300ms ease;
}

button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 8px;
    border: none;
    border-radius: 24px;
    background-color:  rgb(43, 6, 91);
    color: white;
}

button:hover {
    background-color: rgb(193, 180, 78);
    color: rgb(5, 5, 48);
    transition: all 300ms ease;
    cursor: pointer;
}

img {
    width: 75%;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.movies__loading {
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   padding-top: 24px;
   padding-bottom: 60px;
   width: 100%;
   font-size: 60px;
   color: white;
   opacity: 0;
}

.fa-spinner {
    animation: rotate 600ms infinite linear;
    color: rgb(141, 223, 244);
}

/*

FOOTER

*/

.container__footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer__img {
    width: 160px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-left: 100px;
}

.footer__notes {
    display: flex;
}

.footer__copyright {
    color: white;
    text-align: center;
    margin-top: 60px;
    margin-right: 40px;
}

.nav__links2 {
   display: flex;
   flex-direction: column;
   margin-top: 40px;
   margin-right: 120px;
}

.nav__link2,
.nav__link--primary2 {
    font-size: 16px;
    color: rgb(138, 209, 227);
    margin: 0 auto;
    margin-bottom: 12px;
    margin-right: 16px;
}

/*

BACKDROP MENU

*/

.fa-bars {
    color: white;
    font-size: 28px;
}

.btn__menu {
    margin: 0 auto;
    margin-left: 66%;
}

.btn__menu {
    display: none;
    background-color: transparent;
    text-align: center;
    border: none;
    visibility: hidden;
    transition: all 300ms ease;
}

.menu__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
    overflow-x: hidden;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.menu__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
    color: #1a202c;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    margin: 12px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    display: flex;
    text-decoration: none;
}

.btn__menu--close {
    position: absolute;
    top: 12px;
    right: 8px;
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

/*

RESPONSIVE SIZES

*/


/* SMALLER COMPUTERS AND TABLETS */
@media (max-width: 992px) {
    
    .nav__links {
        display: none;
    }
    
    .btn__menu {
        display: block;
        visibility: visible;
        margin-right: 32px;
        color: #1a202c;
    }

    .btn__menu:hover {
        cursor: pointer;
        color: #6415ff;
    }

    body.menu--open .menu__backdrop {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .nav__links2 {
        display: none;
    }

    .footer__copyright {
        min-width: 50%;
        margin-right: 18%;
    }
}


/* SMALLER TABLETS */
@media (max-width: 815px) {

    .nav__row {
        padding-left: 4%;
    }
    
    .movie {
        max-width: calc(100%/3);
    }

    .footer__img {
        margin: 0 auto;
        margin-left: 10%;
    }
    
    .footer__copyright {
        min-width: 60%;
        text-align: center;
    }
}


/* SMALL PHONES AND TABLETS */
@media (max-width: 671px) {

   .btn__menu {
        margin-left: 56%;
    }


    .search-input {
        width: 80%;
   }
   
    #search__submit {
        margin-left: 66%;
    }

    .row__main {
        display: flex;
        flex-direction: column;
    }

    .sort {
        margin-left: 40px;
        margin-top: 12px;
    }

    .footer__copyright {
        min-width:36%;
        margin-bottom: 48px;
    }
}


/* SMALLER PHONES */
@media (max-width: 518px) {

    .nav__container {
        padding-bottom: 340px;
    }
    
    .btn__menu {
        margin-left: 38%;
    }
    
    h1 {
        font-size: 36px;
    }

    .header {
        max-width: 90%;
        margin-left: 12px;
    }

    .searchName {
        margin-right: 24px;
    }

    .movie {
        max-width: 70%;
    }

    .container__footer {
        display: flex;
        flex-direction: column;
    }

    .footer__img {
        margin-left: 33%;
    }

    .footer__copyright {
        margin: 0 auto;
        margin-bottom: 28px;
        max-width: 80%;
    }
}


/*TINY ELECTRONIC DEVICES */
@media (max-width: 350px) {

    #search__submit {
        margin-left: 56%;
    }

    .footer__img {
        margin-left: 26%;
    }
}
